body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    /* Puoi usare 300 (light), 400 (regular), 700 (bold) */
}


header {
    text-align: center;
}

main,
footer {
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-right: 30%;

}

.sottotitolo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50px;
    background-color: #ffeb3b36;
    color: rgb(10, 165, 126);
    border-top: 3px solid #ffeb3b36;

}

#focaccia img {

    height: 330px;
    position: absolute;
    cursor: pointer;
    z-index: 0;
    opacity: 0.9;
    border-radius: 10px 10px 10px 10px;

}

#video {

    position: relative;
    z-index: 1;
    opacity: 0;
}

figcaption {

    color: #555;
    text-align: center;


}


#link {
    border-left: 1px solid;
    padding-left: 10px;
}

h3 {
    font-size: large;
    border-bottom: 1px solid #acffdf;
    padding-bottom: 15px;
}